@charset "utf-8";

/*
  Em HTML é id= em CSS é #(Só pode um elemento por documento).
  Em HTML é class= em CSS é . (Pode varios elementos). 
*/


body{
    background-color: rgb(188, 224, 130);
    font-family: Arial, Helvetica, sans-serif;
    }
    h1{
       color: green;
       text-decoration:underline;
    }
    h1#principal{
       text-align: center;
       background-color: green;
       color: white;
       text-decoration:none;
    }
    h2{
       color: rgb(43, 65, 11);
    }
    .basico{
            color: rgb(0, 83, 0);
            font-weight: bold;
    }
    .intermediario{
            color: rgb(3, 21, 215);
    }
    .avançado{
            color: red;
    }
    .destaque{
            background-color: rgb(190, 190, 21);
    }