@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    padding-left: 50px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 15px;
}

h1 {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#pt1 p, #pt2 p {
    padding-right: 50px;
}

header p, footer  p {
    padding-right: 50px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


main {
    background-color: lightgray;
}
 /*Container*/
#pt1 {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;  
}

/*Itens*/

#texto1 {
    text-align: center;
    flex: 1 1 50vw;
    align-self: auto;
}

div#imagem {
    display: flex;
    justify-content: center;
    flex: 1 1 50vw;
    align-self: auto;
    width: 95%;
}

div#imagem img {
    flex-basis: 400px;
    scale: 0.8;
}

/*Container 2*/

#pt2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    

}

/*Itens*/

#texto2 {
    flex: 1 1 50vw;
}

#video {
    display: flex;
    justify-content: center;
    flex: 1 1 50vw;
    
}

#video iframe {
    flex-basis: 397px;
    padding-top: 20px;
    padding-bottom: 20px;
}

