@charset "UTF-8";

*{
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #4B74F5 , #8D9AF5 80%);
}

p{
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 40px #0C345C;
}
h1{
   color: #4B74F5;
   text-align: center;
   text-shadow: 1px 2px 2px #0C345C;
}
h2{
   color: #0C345C ;
}